<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="match-list" href="/tabs/match-list">
      <ion-icon aria-hidden="true" name="list"></ion-icon>
      <ion-label>Liste des matchs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="match-create" href="/tabs/match-create">
      <ion-icon aria-hidden="true" name="add"></ion-icon>
      <ion-label>Nouveau match</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stats" href="/tabs/stats">
      <ion-icon aria-hidden="true" name="analytics"></ion-icon>
      <ion-label>Statistiques</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about" href="/tabs/about">
      <ion-icon aria-hidden="true" name="people"></ion-icon>
      <ion-label>A propos</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
