<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/match-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Modifier un match</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Informations du match</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list [formGroup]="mainForm">
          <ion-item>
            <ion-label position="floating">Adversaire</ion-label>
            <ion-input type="text" formControlName="adversaire"></ion-input>
            <ion-note color="danger">
              {{ getFormControlErrorText(mainForm.get('adversaire')!) }}
            </ion-note>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Date du match</ion-label>
            <br>
            <ion-datetime
              presentation="date"
              formControlName="date">
            </ion-datetime>
            <ion-note color="danger">
              {{ getFormControlErrorText(mainForm.get('date')!) }}
            </ion-note>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Surface</ion-label>
            <ion-select formControlName="surface">
              <ion-select-option value="Terre battue">Terre battue</ion-select-option>
              <ion-select-option value="Gazon">Gazon</ion-select-option>
              <ion-select-option value="Dur">Dur</ion-select-option>
            </ion-select>
            <ion-note color="danger">
              {{ getFormControlErrorText(mainForm.get('surface')!) }}
            </ion-note>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Statistiques</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list [formGroup]="mainForm">
          <ion-item>
            <ion-label position="floating">Aces</ion-label>
            <ion-input type="number" formControlName="aces"></ion-input>
            <ion-note color="danger">
              {{ getFormControlErrorText(mainForm.get('aces')!) }}
            </ion-note>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Double Fautes</ion-label>
            <ion-input type="number" formControlName="doubleFautes"></ion-input>
            <ion-note color="danger">
              {{ getFormControlErrorText(mainForm.get('doubleFautes')!) }}
            </ion-note>
          </ion-item>
          <ion-item>
            <ion-label position="floating">% Premier Service</ion-label>
            <ion-input type="number" formControlName="pourcentagePremierService"></ion-input>
            <ion-note color="danger">
              {{ getFormControlErrorText(mainForm.get('pourcentagePremierService')!) }}
            </ion-note>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Points Gagnés</ion-label>
            <ion-input type="number" formControlName="pointsGagnes"></ion-input>
            <ion-note color="danger">
              {{ getFormControlErrorText(mainForm.get('pointsGagnes')!) }}
            </ion-note>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Résultat</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list [formGroup]="resultatForm">
          <ion-item>
            <ion-label position="floating">Issue du match</ion-label>
            <ion-select [formControl]="issueCtrl">
              <ion-select-option value="victoire">Victoire</ion-select-option>
              <ion-select-option value="défaite">Défaite</ion-select-option>
              <ion-note color="danger">
                {{ getFormControlErrorText(issueCtrl) }}
              </ion-note>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Forfait</ion-label>
            <ion-toggle [formControl]="forfaitCtrl"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Nombre de sets gagnants</ion-label>
            <ion-input type="number" [formControl]="setsCtrl"></ion-input>
            @if(showSetsError$ | async){
              <ion-note color="danger">
                Le nombre de sets gagnants est 3 ou 5
              </ion-note>
            }
          </ion-item>
          @if(showScoreForms$ | async){
            <ion-grid>
              <ion-row>
                <ion-col size="4"><strong>Set</strong></ion-col>
                <ion-col size="4"><strong>Domicile</strong></ion-col>
                <ion-col size="4"><strong>Visiteur</strong></ion-col>
              </ion-row>

              <ion-row [formGroup]="scoreForm1!">
                <ion-col size="4">Set 1</ion-col>
                <ion-col size="4">
                  <ion-input
                    type="number"
                    formControlName="domicile"
                    placeholder="0"
                  ></ion-input>
                  <ion-note color="danger">
                    {{ getFormControlErrorText(scoreForm1!.get('domicile')!)}}
                  </ion-note>
                </ion-col>
                <ion-col size="4">
                  <ion-input
                    type="number"
                    formControlName="visiteur"
                    placeholder="0"
                  ></ion-input>
                </ion-col>
              </ion-row>

              <ion-row [formGroup]="scoreForm2!">
                <ion-col size="4">Set 2</ion-col>
                <ion-col size="4">
                  <ion-input
                    type="number"
                    formControlName="domicile"
                    placeholder="0"
                  ></ion-input>
                </ion-col>
                <ion-col size="4">
                  <ion-input
                    type="number"
                    formControlName="visiteur"
                    placeholder="0"
                  ></ion-input>
                </ion-col>
              </ion-row>

              <!-- Set 3 -->
              <ion-row [formGroup]="scoreForm3!">
                <ion-col size="4">Set 3</ion-col>
                <ion-col size="4">
                  <ion-input
                    type="number"
                    formControlName="domicile"
                    placeholder="0"
                  ></ion-input>
                </ion-col>
                <ion-col size="4">
                  <ion-input
                    type="number"
                    formControlName="visiteur"
                    placeholder="0"
                  ></ion-input>
                </ion-col>
              </ion-row>

              @if(showFiveSetsForms$ | async) {
                <ion-row [formGroup]="scoreForm4!">
                  <ion-col size="4">Set 4</ion-col>
                  <ion-col size="4">
                    <ion-input
                      type="number"
                      formControlName="domicile"
                      placeholder="0"
                    ></ion-input>
                  </ion-col>
                  <ion-col size="4">
                    <ion-input
                      type="number"
                      formControlName="visiteur"
                      placeholder="0"
                    ></ion-input>
                  </ion-col>
                </ion-row>

                <ion-row [formGroup]="scoreForm5!">
                  <ion-col size="4">Set 5</ion-col>
                  <ion-col size="4">
                    <ion-input
                      type="number"
                      formControlName="domicile"
                      placeholder="0"
                    ></ion-input>
                  </ion-col>
                  <ion-col size="4">
                    <ion-input
                      type="number"
                      formControlName="visiteur"
                      placeholder="0"
                    ></ion-input>
                  </ion-col>
                </ion-row>
              }
            </ion-grid>
          }
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Position</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list [formGroup]="locationForm">
          <ion-button expand="full" color="tertiary" (click)="getCurrentLocation()">
            <ion-icon name="location-outline" slot="start"></ion-icon>
            Capturer la position
          </ion-button>
          <ion-item>
            <ion-label position="floating">Latitude</ion-label>
            <ion-input type="number" formControlName="latitude"></ion-input>
            <ion-note color="danger">
              {{ getFormControlErrorText(locationForm.get('latitude')!) }}
            </ion-note>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Longitude</ion-label>
            <ion-input type="number" formControlName="longitude"></ion-input>
            <ion-note color="danger">
              {{ getFormControlErrorText(locationForm.get('longitude')!) }}
            </ion-note>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-button expand="full" color="success" (click)="onUpdate()">
      <ion-icon name="save-outline" slot="start"></ion-icon>
      Mettre à jour
    </ion-button>


</ion-content>
