// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-color-primary: #00953B;
  --ion-color-secondary: #3C1874;
  --ion-color-tertiary: #FFFFFF;
}
