// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-color-primary: #00c5ff;
  --ion-color-secondary: #ffffff;
  --ion-color-tertiary: #bbcfd6;
}
