<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/match-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Ajouter un match</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Informations du match</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list [formGroup]="matchForm">
        <ion-item>
          <ion-label position="floating">Adversaire</ion-label>
          <ion-input type="text" formControlName="adversaire"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Date du match</ion-label>
          <ion-datetime
            presentation="date"
            formControlName="date">
          </ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Surface</ion-label>
          <ion-select formControlName="surface">
            <ion-select-option value="terre battue">Terre battue</ion-select-option>
            <ion-select-option value="gazon">Gazon</ion-select-option>
            <ion-select-option value="dur">Dur</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Score</ion-label>
          <ion-input type="text" formControlName="score"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Statistiques</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list [formGroup]="matchForm">
        <ion-item>
          <ion-label position="floating">Aces</ion-label>
          <ion-input type="number" formControlName="aces"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Double Fautes</ion-label>
          <ion-input type="number" formControlName="doubleFautes"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">% Premier Service</ion-label>
          <ion-input type="number" formControlName="pourcentagePremierService"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Points Gagnés</ion-label>
          <ion-input type="number" formControlName="pointsGagnes"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Position</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="full" color="tertiary" (click)="getCurrentLocation()">
        <ion-icon name="location-outline" slot="start"></ion-icon>
        Capturer la position
      </ion-button>
      @if (location){
      <ion-item>
        <p>Latitude : {{ location.latitude }}</p>
        <p>Longitude : {{ location.longitude }}</p>
      </ion-item>
      }
    </ion-card-content>
  </ion-card>
  <ion-button expand="full" color="success" [disabled]="matchForm.invalid" (click)="onSubmit()">
    <ion-icon name="checkmark-outline" slot="start"></ion-icon>
    Ajouter le match
  </ion-button>

</ion-content>
