<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Statistiques</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Statistiques globales</ion-card-title>
    </ion-card-header>
    @if(loading$ | async){
      <ion-spinner></ion-spinner>
    }
    @if(!(derniersMatchs | async)?.length){
      <ion-card-content>
        <p>Aucun match</p>
      </ion-card-content>
    } @else{
      @if (stats | async; as stat){
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <ion-chip color="success">
                  <ion-icon name="trophy-outline"></ion-icon>
                  <ion-label>Matchs joués</ion-label>
                </ion-chip>
                <h2>{{ stat.totalMatchs }}</h2>
              </ion-col>
              <ion-col size="6">
                <ion-chip color="primary">
                  <ion-icon name="stats-chart-outline"></ion-icon>
                  <ion-label>Victoire (%)</ion-label>
                </ion-chip>
                <h2>{{ stat.victoirePourcentage | number:'1.0-2'}}%</h2>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-chip color="warning">
                  <ion-icon name="tennisball-outline"></ion-icon>
                  <ion-label>Total Aces</ion-label>
                </ion-chip>
                <h2>{{ stat.totalAces }}</h2>
              </ion-col>
              <ion-col size="6">
                <ion-chip color="danger">
                  <ion-icon name="close-circle-outline"></ion-icon>
                  <ion-label>Double fautes</ion-label>
                </ion-chip>
                <h2>{{ stat.totalDoubleFautes }}</h2>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      }
    }
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Performances</ion-card-title>
    </ion-card-header>
    @if(loading$ | async){
      <ion-spinner></ion-spinner>
    }
    @if(!(derniersMatchs | async)?.length){
      <ion-card-content>
        <p>Aucun match</p>
      </ion-card-content>
    } @else{
      @if(stats | async; as stat){
        <ion-card-content>
          <ion-progress-bar value="{{ stat.pourcentagePremierService / 100 }}" color="tertiary"></ion-progress-bar>
          <p>Pourcentage de 1er service : {{ stat.pourcentagePremierService | number:'1.0-2'}}%</p>
        </ion-card-content>
      }
    }
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Derniers matchs</ion-card-title>
    </ion-card-header>
    @if(loading$ | async){
      <ion-spinner></ion-spinner>
    }
    @if(!(derniersMatchs | async)?.length){
      <ion-card-content>
        <p>Aucun match</p>
      </ion-card-content>
    }
    @if(stats | async; as stat){
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let match of derniersMatchs | async">
          <ion-label>
            <h3>{{ match.adversaire }}</h3>
            <p>{{ match.date }} - {{ match.surface }}</p>
          </ion-label>
          @if(match.resultat.forfait){
            <ion-badge color="warning">F</ion-badge>
          } @else if (match.resultat.issue === 'Victoire'){
            <ion-badge color="success">V</ion-badge>
          } @else {
            <ion-badge color="danger">D</ion-badge>
          }
        </ion-item>
      </ion-list>
    </ion-card-content>
    }
  </ion-card>

</ion-content>

